doctype html
html(lang="en")
  head
    title=config.title
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Roboto:300,400,100,700&subset=latin,latin-ext")
    link(rel="stylesheet", type="text/css", href="{{assets}}/mdi/css/materialdesignicons.min.css")
    link(rel="stylesheet", type="text/css", href="{{assets}}/highlightjs/styles/monokai_sublime.css")
    link(rel="stylesheet", type="text/css", href="{{assets}}/highlightjs/styles/tomorrow.css")
    link(rel="stylesheet", href="{{assets}}/main.css")
    script(type="text/javascript", src="{{assets}}/live.js")
    script(type="text/javascript", src="{{assets}}/main.js")
  body

    header#header
      div#logo: a(href="{{base}}/")!=config.header_title

      if config.github
        div#get-on-github: a(href=config.github, target="_blank")
          i.mdi.mdi-github-circle
          span Get on GitHub

      if config.menu
        nav#menu
          ul
            each label, link in config.menu
              li: a(href=link)=label

    div#main

      mixin navTree( parent )
        ul
          each item in parent.sections
            if item.type == "page"
              li.page(class={ "current": item.id === page.id, "current-parent": page.id.substr(0, item.id.length) === item.id })
                a(href="{{base}}#{item.id}")=item.label
                +navTree( item )
            else
              li.section: a(href="{{base}}#{parent.id}##{item.anchor}")=item.label

      nav#toc
        +navTree(nav)

      if sidecode
        div#sidecode

      div#contents(class={ "with-sidecode": sidecode === true })
        each section, id in sections
          if section.type == "page"
            a(href="{{base}}#{section.id}", class={ "page-link": true, "with-excerpt": section.excerpt })
              div.section.page
                div.anchor(id=section.anchor)
                i.mdi.mdi-arrow-right-bold-circle-outline.icon
                h2=section.label
                if section.excerpt
                  !=section.excerpt

          else
            div.section
              div.anchor(id=section.anchor)
              !=section.html